<carousel>
    <slide>
        <img src="https://source.unsplash.com/600x600/?(brand)" alt="1"  style="display:block;width:100%">
    </slide>
    <slide>
        <img src="https://source.unsplash.com/600x600/?(fashion)" alt="2"  style="display:block;width:100%">
    </slide>
    <slide>
        <img src="https://source.unsplash.com/600x600/?(product)" alt="3"  style="display:block;width:100%">
    </slide>
    <slide>
        <img src="https://source.unsplash.com/600x600/?(beauty)" alt="3"  style="display:block;width:100%">
    </slide>
</carousel>
<section class="featured mt-5">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome To Shop !</h1>
    </div>
</section>